<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Reset Password</title>
  <script>
    function reset() {
      console.log("resetting password");
      const urlParams = new URLSearchParams(window.location.search);
      const token = urlParams.get('token');
      console.log(token)
      var password = document.getElementById('password').value;
      console.log(password);
      var params = {
        "token": token,
        "password": password
      };
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '{{ url }}');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
      xhr.onload = function() {
        console.log('response: ' + xhr.responseText);
        console.log('responseUrl: ' + xhr.responseURL);
        location.assign(xhr.responseURL);
      };
      xhr.send(JSON.stringify(params));
    }
  </script>
</head>
<body>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password">
  <div><br></div>
  <a href="#" onclick="reset();">Reset password</a>
</body>
</html>