# db
DB_URL=mongodb://admin:password@db:27017
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_INITDB_DATABASE=api

# db-admin
ME_CONFIG_MONGODB_ADMINUSERNAME=admin
ME_CONFIG_MONGODB_ADMINPASSWORD=password
ME_CONFIG_MONGODB_SERVER=db

# cache, cache-admin
CACHE_URL=redis://:password@cache:6379
REDIS_HOST=cache
REDIS_PORT=6379
REDIS_PASSWORD=password
